n8n-workflows/shopify_webhook_to_email.json
{
  "name": "Shopify Webhook to Email",
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "shopify-webhook",
        "options": {}
      },
      "id": "1",
      "name": "Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 1,
      "position": [
        250,
        300
      ],
      "webhookId": "12345-abcde"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.body.topic}}",
              "value2": "orders/create"
            }
          ]
        }
      },
      "id": "2",
      "name": "If Order Created",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [
        450,
        300
      ]
    },
    {
      "parameters": {
        "fromEmail": "admin@storesync.com",
        "toEmail": "owner@storesync.com",
        "subject": "=New Order Received! (#{{$json.body.payload.name}})",
        "html": "=<h1>New Order</h1><p>Order {{$json.body.payload.name}} for {{$json.body.payload.total_price}} was just placed.</p>"
      },
      "id": "3",
      "name": "Send Email",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 1,
      "position": [
        650,
        280
      ]
    }
  ],
  "connections": {
    "Webhook": {
      "main": [
        [
          {
            "node": "If Order Created",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "If Order Created": {
      "main": [
        [
          {
            "node": "Send Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {}
}
